.banner {
    background-image: url('home_cover.png');
    margin: auto;
    min-height: 183px;
    max-width: 100%;
    border-radius: 2rem;
    display: grid;
    place-items: center;
    color: white;
    background-repeat: no-repeat;
    position: relative; /* Ajout d'une position relative pour contenir le pseudo-élément */
    margin-bottom: 30px;
  }
  
  .banner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Couleur de superposition grise avec une opacité de 0.5 */
    border-radius: 2rem;
  }

  .banner h1 {
    z-index: 1; /* Place le texte au-dessus de l'élément pseudo-élément */
  }