@use "../Scss/variables.scss" as *;

.description_panel {
  margin-bottom: 1rem;
  flex-basis: 50%;

  p {
    margin-block: 0;
  }

  .description_header {
    background-color: $color-primary;
    color: $color-tertiary;
    padding: 0.2em 1em;
    display: flex;
    justify-content: space-between;
    border-radius: 0.7rem;
    align-items: center;

    &.expanded {
      i {
        transform: rotate(180deg);
      }
    }

    i {
      font-size: 2rem;
      cursor: pointer;
      transition: transform 0.3s ease;

      &.fa-chevron-down {
        transform: rotate(0deg);
      }
    }
  }

  .description_content {
    background-color: $background-light;
    color: $color-primary;
    padding: 1rem;
    border-radius: 0.7rem;
    position: relative;
    top: -0.3rem;
    z-index: -1;

    &.hidden {
    }
  }
}
